*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #0c53ed;
    display: flex;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navText{
    min-height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 1000px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        position: fixed;
        right: -100%;
        top: 45px;
        gap: 0;
        flex-direction: column;
        background-color: #0c53ed;
        width: 100%;
        text-align: center;
        transition: 0s;
    }

    .navLink{
        margin: 16px 0;
    }

    .navMenu.active{
        left: 0;
    }
}

.navSearch input{
    border-radius: 25px;
    width: 300px;
    height: 30px;
}

.navSearch{
    display: flex;
    align-content: flex-end;
    align-items: center;
}
.navSearch a{
    background-image: url("magnifying-glass.png");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
}

input[name="focusTekst"]:focus {
    font-size: 1rem;
    background-color: rgb(5, 139, 95);
}

input[type="radio"]:checked {
    height: 2rem;
    width: 2rem;
    color: yellow;
}

input:required{
    border-color: 2px solid sandybrown;
}

input[name="nameInput"]:focus {
    color: red;
    font-size: 2rem;
}

  main {
    display: flex;
  }
  
  .bigblock{
    display: flex;
    background: rgb(25, 151, 52);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
  }

  .block {
    background: rgb(157, 238, 175);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
  }
  
  .smallblockcontrol{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .smallblock button{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    align-items: baseline;
    position: center;
  }
  
  
  main > .block {
    flex: 3;
    margin-left: 0;
  }
  
  @media only screen and (max-width: 60rem) {
    .bigblock {
      display: block;
      padding: 1rem 1rem 0 1rem;
    }
    
    
      .block {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
      }
    }